<div class="col-md-5 section" @slide @fade>
   <h4 class="header-text">All-Time</h4>
  <span *ngIf="data; else handle">
   <table>
      <thead>
         <tr class="top-row">
            <th><h6>Views</h6></th>
            <th><h6>Subscribers</h6></th>
            <th><h6>Likes</h6></th>
            <th><h6>Dislikes</h6></th>
         </tr>
      </thead>
      <tbody>
         <tr class="row">
            <td class="data-cell">{{ data.views | addcomma }}</td>
            <td class="data-cell">{{ data.subscribers | addcomma }}</td>
            <td class="data-cell">{{ data.likes | addcomma }}</td>
            <td class="data-cell">{{ data.dislikes | addcomma }}</td>
         </tr>
      </tbody>
   </table>
 </span>
 <ng-template #handle>
   <h6 class="fallback">No Data Available</h6>
 </ng-template>
</div>
