
#back {
    background: #fb4205;
    background: -webkit-linear-gradient(top,#fb4205,#c63a10 40%,#952803);
    background: -webkit-gradient(linear,left top,left bottom,from(#fb4205),color-stop(40%,#c63a10),to(#952803));
    background: -o-linear-gradient(top,#fb4205 0,#c63a10 40%,#952803 100%);
    background: linear-gradient(180deg,#fb4205 0,#c63a10 40%,#952803);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fb4205",endColorstr="#952803",GradientType=0);
    height: 10px;
    border-radius: 5px;
    width: 150px;
}

#front {
    background: #4bfb05;
    background: -webkit-linear-gradient(top,#4bfb05,#47c610 40%,#2c9503);
    background: -webkit-gradient(linear,left top,left bottom,from(#4bfb05),color-stop(40%,#47c610),to(#2c9503));
    background: -o-linear-gradient(top,#4bfb05 0,#47c610 40%,#2c9503 100%);
    background: linear-gradient(180deg,#4bfb05 0,#47c610 40%,#2c9503);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4bfb05",endColorstr="#2c9503",GradientType=0);
    height: 10px;
    border-radius: 5px;
  }

  .meter {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
