<div class="col-md-10 col-md-offset-1 section-3" @slide @fade>
  <h4 class="header-text">Per Year</h4>
  <div class="dropdown">
    <select class="dropdown select-menu" (change)="getYear($event)">
      <option>Select a Year</option>
      <option value="2018">2018</option>
      <option value="2019">2019</option>
      <option value="2020">2020</option>
    </select>
  </div>
  <div innerHTML="{{table}}"></div>

<div *ngIf="!hide">
  <h4>Views</h4>
  <div class="col-md-12">
    <div style="display: inline-block;">
      <div class="wrapper">
        <canvas baseChart width="900" height="400"
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [colors]="lineChartColors"
                    [chartType]="lineChartType"
                    ></canvas>
      </div>
      <h4>Subscribers</h4>
      <div class="wrapper">
      <canvas baseChart width="900" height="400"
                  [datasets]="lineChartData2"
                  [labels]="lineChartLabels2"
                  [colors]="lineChartColors2"
                  [chartType]="lineChartType"
      ></canvas>
      </div>
    </div>
  </div>
</div>

</div>
