<div class="col-md-10 col-md-offset-1 section-3" @slide @fade>
  <h4 class="header-text">Per Month</h4>
  <div class="dropdown">
    <select class="dropdown select-menu" (change)="getMonth($event)">
      <option>Select a Month</option>
      <option value="jan">January</option>
      <option value="feb">February</option>
      <option value="mar">March</option>
      <option value="apr">April</option>
      <option value="may">May</option>
      <option value="jun">June</option>
      <option value="jul">July</option>
      <option value="aug">August</option>
      <option value="sep">September</option>
      <option value="oct">October</option>
      <option value="nov">November</option>
      <option value="dec">December</option>
    </select>
    <select class="dropdown select-menu" (change)="getYear($event)">
      <option>Select a Year</option>
      <option value="2018">2018</option>
      <option value="2019">2019</option>
      <option value="2020">2020</option>
    </select>
  </div>
  <div innerHTML="{{table}}"></div>

<div class="row">
<span *ngIf="!hide">
    <h4>Views</h4>
    <div class="col-md-6">
      <div style="display: block;">
      <canvas baseChart width="250" height="250"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [colors]="lineChartColors"
                  [chartType]="lineChartType"
                  ></canvas><p>Day</p>

      </div>
    </div>
<span *ngIf="percentageViews">
    <div class="col-md-6">
      <div style="display: block">
        <h2>{{ percentageViews | roundup }} %</h2>
        <h6>of total views</h6>
        <canvas baseChart
                    [data]="doughnutChartData"
                    [labels]="doughnutChartLabels"
                    [chartType]="doughnutChartType">
              </canvas>
      </div>
    </div>
</span>
</span>
</div>



<div class="row">
<span *ngIf="!hide">
    <h4>Subscribers</h4>
    <div class="col-md-6">
      <div style="display: block;">
      <canvas baseChart width="250" height="250"
                  [datasets]="lineChartData2"
                  [labels]="lineChartLabels2"
                  [colors]="lineChartColors2"
                  [chartType]="lineChartType"
                  ></canvas><p>Day</p>

      </div>
    </div>
<span *ngIf="percentageSubs">
    <div class="col-md-6">
      <div style="display: block">
        <h2>{{ percentageSubs | roundup }} %</h2>
        <h6>of total subscribers</h6>
        <canvas baseChart
                    [data]="doughnutChartData2"
                    [labels]="doughnutChartLabels2"
                    [chartType]="doughnutChartType">
              </canvas>
      </div>
    </div>
</span>
</span>
</div>
