.section {
  background-color: #36454f;
  color: white;
  border-radius: 10px;
  height: 110px;
  margin-top: 10px;
  font-family: 'Electrolize', sans-serif;
  font-size: 20px;
}

.header-text {
  text-align: center;
}

th {
  width: 200px;
  text-align: center;
}

.data-cell {
  text-align: center;
}
tr:before {
  content: none;
}

.section-too {
    background-color: #36454f;
    color: white;
    border-radius: 10px;
    text-align: center;
    height: 80px;
    margin-top: 10px;
      font-family: 'Electrolize', sans-serif;
}

.section-3 {
    background-color: #36454f;
    color: white;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 50px;
    height: auto;
    margin-top: 20px;
    font-family: 'Electrolize', sans-serif;
    margin-bottom: 20px;
}

select {
  background-color: black;
}

.select-menu:hover {
  cursor:pointer;
}

.fallback {
  text-align: center;
}
