<div class="col-md-5 all-time-table section section-padding" @slide>
  <span *ngIf="data; else handle">
  <h4 class="header-text">Previous Day</h4>
  <table><thead><tr class="top-row">
    <th><h6>Views</h6></th>
    <th><h6>Subscribers</h6></th>
    <th><h6>Likes</h6></th>
    <th><h6>Dislikes</h6></th>
  </tr>
</thead>
<tbody>
  <tr class="row">
    <td class="data-cell">{{ data.views }}</td>
    <td class="data-cell">{{ data.subscribers }}</td>
    <td class="data-cell">{{ data.likes }}</td>
    <td class="data-cell">{{ data.dislikes }}</td>
  </tr>
</tbody>
</table>
</span>
<ng-template #handle>
  <h6>No Data Available</h6>
</ng-template>
</div>
